@font-face{
    font-family: "bariolbold";
    src: url("fonts/bariolbold.ttf");
}

@font-face{
    font-family: "bariolthin";
    src: url("fonts/bariolthin1.ttf");
}

@font-face{
    font-family: "cooper";
    src: url("fonts/cooperm.ttf");
}

*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(#ffffff, #b34ef6);
    min-height: 100vh;;
}

/* HEADER */

header h1{
    float: left;
    margin-left: 10px;
    font-family: bariolbold;
    clear: both;
}

header h1 a{
    text-decoration: none;
}

header h1 a:visited{
    color: black;
}

header h1 a:hover{
    color: plum;
}

header nav{
    float: right;
    margin-top: 10px;
}

header nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    font-family: bariolthin;
    font-style: italic;
}

header nav ul li a{
    text-decoration: none;
}

header nav ul li a:visited{
    color: black;
}

header nav ul li a:hover{
    color: plum;
}

/* MAIN */

main{
    clear: both;
    margin-left: 10px;
}

main h3{
    padding-top: 90px;
    font-size: 60px;
    font-family: cooper;
}

/* SVG */

#accueil{
    width: 50%;
    height: 50%;
}

.svg{
    text-align: center;
    margin-top: -100px;
}

#skate{
    animation-name: skate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes skate{
    0%{
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(25deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}

/* APPLY */

.apply{
    clear: both;
    padding-top: 50px;
    padding: 20px;
    text-align: center;
    font-family: cooper;
}

/* SVG */

#bbq{
    width: 25%;
    height: 25%;
}

.bbq{
    margin-left: 150px;
}

/* pour la fumée du bbq, c'est l'id donnée dans figma */
#barbec{
    animation-name: barbec;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes barbec{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}

/* ABOUT */

.about{
    clear: both;
    padding-top: 50px;
    padding: 20px;
    text-align: center;
    font-family: cooper;
}

#mariage{
    width: 40%;
    height: 40%;
}

.mariage{
    margin-left: 100px;
}


/* animation, ici l'id est celle donnée dans figma (logiciel en ligne) de même pour les coeurs juste en dessous */
#firework{
    animation-name: fire;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#coeur{
    animation-name: coeur;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes coeur{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fire{
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(90deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

/* PLACES */

.places{
    clear: both;
    padding-top: 50px;
    padding: 20px;
    text-align: center;
    font-family: cooper;
}

#tour{
    width: 50%;
    height: 50%;
}

.tour{
    margin-left: 100px;
}